
/* Reset and Clearfix */
#ggp_leiste img{border:0; outline:none;}
.nl_cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}


#nl_bg { 
	background:url("http://static.globalgameport.com/network/bg.jpg") repeat-x scroll center bottom transparent;
	display:block;
	@media (min-width:800px) { height:117px;}
} 

#nl_top {
	width:100%;
	background:none;
	@media (min-width:800px) { 
		width:1125px;
		background:url("http://static.globalgameport.com/network/bg_balken.png") no-repeat right top;
	}
	height:92px;
	margin:0 auto;
	display:block;
	overflow:hidden;
	
}

#nl_menu {
	width:100%;
	@media (min-width:800px) { 
	width:1125px;	
	}
	height:25px;
	margin:0 auto;
	display:block;
	overflow:hidden;
}

#nl_logo {
	float:left;
	display:block;
		
	width: 180px;
	height: 85px;
	img {
		width: 180px;
		height: 85px;
	}

	@media (min-width:500px) { 
		width:194px;
		height:92px;
		img {
			width:194px;
			height:92px;
		}
	}
}

#nl_promo {
	width:200px;
	height:92px;
	float:left;
	display:none;
	margin-top:1px;
	@media (min-width:800px) { 
		display:block;
	}
}

#nl_promo_load {
	display:block;
	height:90px;
	width:200px;
}
#coin-slider-nl_promo {
	width:200px;
	float:left;
	overflow:hidden;
}

#nl_leaderboard {
	width: 320px;
	height: 50px;
	@media (min-width:500px) { 
		width: 468px; 
		height: 60px;
	}
	@media (min-width:800px) { 
		width:728px;
		height:90px;
	}
	float:right;
	display:block;
	padding-top:1px;
}

#nl_netzwerkseiten a:link, 
#nl_netzwerkseiten a:visited {
	background: url("http://static.globalgameport.com/network/link_netzwerkseiten.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 25px;
	margin: 0 70px 0 10px;
	width: 155px;
}

#nl_forum {
	a:link, a:visited {
		background:url("http://static.globalgameport.com/network/link_forum.png") no-repeat scroll 0 0 transparent;
		display: block;
		float: left;
		height: 25px;
		margin: 0 50px 0 0;
		width: 155px;
	}
}

#nl_store { 
	a:link, a:visited {
		background:url("http://static.globalgameport.com/network/link_astore.png") no-repeat scroll 0 0 transparent;
		display: block;
		float: left;
		height: 25px;
		margin: 0 50px 0 0;
		width: 155px;
	}
}

#nl_portal  a:link, 
#nl_portal a:visited {
	background:url("http://static.globalgameport.com/network/link_portal.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 25px;
	margin: 0 82px 0 0;
	width: 155px;
}

#nl_netzwerkseiten a:hover, 
#nl_netzwerkseiten a.nl_netzwerkseiten_active,
#nl_forum a:hover, 
#nl_store a:hover,
#nl_portal a:hover, 
#nl_login a:hover {
	background-position: center bottom;
}
#social_networks {
	background:url("http://static.globalgameport.com/network/txt_ggp_folgen.png") no-repeat scroll left top transparent;
	display: block;
	float: right;
	height: 25px;
	margin: 0 50px 0 0;
	width: 150px;
}
#ggp_fb:link, 
#ggp_fb:visited  {
	background:url("http://static.globalgameport.com/network/link_social_buttons.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 20px;
	margin: 2px 0 0 75px;
	width: 19px;
}
#ggp_fb:hover {
	background-position: 0 -20px;
	text-decoration: none;
}
#ggp_twitter:link, 
#ggp_twitter:visited {
	background:url("http://static.globalgameport.com/network/link_social_buttons.png") no-repeat scroll -19px 0 transparent;
	display: block;
	float: left;
	height: 20px;
	margin: 2px 0 0 1px;
	width: 20px;
}
#ggp_twitter:hover {
	background-position: -19px -20px;
	text-decoration: none;
}
#ggp_yt:link, 
#ggp_yt:visited {
	background:url("http://static.globalgameport.com/network/link_social_buttons.png") no-repeat scroll -39px 0 transparent;
	display: block;
	float: left;
	height: 20px;
	margin: 2px 0 0 1px;
	width:20px;
}
#ggp_yt:hover {
	background-position: -39px -20px;
	text-decoration: none;
}
@media (max-width:800px) { 
	#nl_netzwerkseiten a:link, 
	#nl_forum a:link, 
	#nl_store a:link,
	#nl_portal a, 
	#nl_login a {
		margin:0;
	}
}


/*
 * Netzwerkseiten DROPDOWN
 */
#nl_dropdown,
#nl_sites_more{
	opacity:0.9;
	background:#111111;
	display: block;
	padding-left:4px;
	width: 738px;
	margin-top:25px;
	margin-left:15px;
	font-family:arial, helvetica;
}

#nl_dropdown {
 	img {
		outline:none;
		vertical-align:middle; 
		}
	ul {
		padding:0;
		margin:3px 7px 3px 0;
		background:url(http://static.globalgameport.com/network/nl_menu_grafiken.png) repeat-y left top;

		>span {
			text-align:center;
			font:10pt arial,helvetica,clean;
			color:#eee;
			background:#111;
			font-weight:bold;
			padding:2px 0 3px;
			width:100%;
			display:block;
			letter-spacing:-1px;
		}
	}
	li{
		list-style:none;
		display:block;
		margin:1px 0 1px 3px;
		background:url(http://static.globalgameport.com/network/nl_menu_link_bg.png) repeat-x left top;
	}

	>div {
		float:left;
		margin:3px 0px 3px 0;
	} 
}

#nl_our_sites span, 
#nl_our_partner span {
	color: #EEEEEE;
}

#nl_dropdown a {
	color: #EEEEEE;
	display: block;
	font-size: 11px;
	line-height:20px;
	padding: 0 0 0 5px;
	text-decoration: none;
	text-transform: uppercase;
	text-align:left;
	cursor:pointer;
}
#nl_topsites {
	width:534px;
	position:relative;
}
.nl_topsites {
	width:260px;
	float:left;
}
.nl_sites_open {
	display:block;
}
.nl_sites a{
	padding:0 0px;
}
#nl_partner{
	width:180px;

	a{
		padding:0 5px;
	}
}

#nl_dropdown li:hover,
#nl_topsites.nl_sites_more_open #moresites {
	background:#B40404;
}
#nl_dropdown li:hover a,
#nl_topsites  li:hover #nl_sites_more li:hover a{
	color:#fff;
	cursor:pointer;
} 

#nl_dropdown a.nl_site_ico
{
	width:20px;height:20px;float:right;
	padding:0;margin:0;background:url(http://static.globalgameport.com/network/link_social_buttons.png) no-repeat scroll transparent;
	display:block;
	border-left:1px solid #111;
}

#nl_dropdown {
 	a.nl_site_ico_tw 		{background-position: -88px top}
	a.nl_site_ico_tw:hover 	{background-position: -88px bottom}
	a.nl_site_ico_yt 		{background-position: -128px top}
	a.nl_site_ico_yt:hover 	{background-position: -128px bottom}
	a.nl_site_ico_rs 		{background-position: -108px top}
	a.nl_site_ico_rs:hover 	{background-position: -108px bottom}
	a.nl_site_ico_bd 		{background-position: -59px top;width:29px}
	a.nl_site_ico_bd:hover 	{background-position: -59px bottom}
	a.nl_site_ico_fb 		{background-position: -148px top}
	a.nl_site_ico_fb:hover 	{background-position: -148px bottom}
}

#nl_sites_more{
	display:none;
	z-index:999901;
	padding:5px 0 5px 5px;

	ul {
		float:left;
	}

	li{
		width:230px;
	}
}

#nl_topsites.nl_sites_more_open #nl_sites_more {
	display:block;
	position:absolute;
	top:0;
	left:130px;
}

/* Weitere Seiten + Hover */
#moresites
{
	background:#5a5a5a;
	font-size:9.5pt !important;
	font-weight:bold;
	display:block;
	clear:both;

	&:hover {
		background:#0066CC;
	}

	>span {
	width:20px; 
	display:inline; 
	background:none; 
	font-size:1.5em;
	}
}


